<template>
  <v-dialog v-model="show" max-width="1000px">
    <v-card>
      <v-card-title>
        <span class="headline">Bulabildiklerim</span>
      </v-card-title>

      <v-card-text>
        <v-data-table
            :headers="headers"
            :items="words"
            @click:row="onSelect"
            :items-per-page="10"
            class="elevation-1"
        >
          <template v-slot:item.actions="{ item }">
            <v-btn @click="() => onSelect(item)">Seç</v-btn>
          </template>

        </v-data-table>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="$emit('input', false)">
          Kapat
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
export default {
  name: "AutofillDialog",
  props: ["value", "words", "selected"],
  data: () => ({
    headers: [
      {
        text: 'Definition',
        value: 'definition',
      },
      {text: 'Example', value: 'example'},
      {text: 'Type', value: 'partOfSpeech'},
      {text: '', value: 'actions'}
    ],
  }),
  computed: {
    show: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  },
  methods: {
    onSelect(v) {
      this.$emit("input", false);
      this.$emit("selected", v);
    }
  }
}
</script>
