<template>
  <v-app>
    <loading :active.sync="isLoading"
             :is-full-page="fullPage"></loading>
    <v-form ref="form" v-model="valid" v-on:submit.prevent="save">
      <v-container fluid>
        <v-row justify="center" align="center">
          <v-col cols="5" md="4">
            <v-col cols="12">
              <v-row justify="center" dense>
                <v-col cols="8">
                  <v-text-field outlined id="word" type="text" v-model="obj.word" label="Kelime" :rules="fieldRules"/>
                </v-col>
                <v-col cols="4">
                  <v-btn @click="autoFill" height="56">Doldur</v-btn>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-autocomplete v-model="obj.wordType" outlined label="Kelime Türü" :items="wordTypes"
                              :rules="fieldRules"/>
            </v-col>
            <v-col cols="12">
              <v-text-field outlined id="meaning" type="text" label="Anlam" v-model="obj.meaning" :rules="fieldRules"/>
            </v-col>
            <v-col cols="12">
              <v-textarea outlined style="width: 100%" id="description" label="Açıklama" rows="5"
                          v-model="obj.description" :rules="fieldRules"/>
            </v-col>
            <v-col cols="12">
              <v-textarea outlined style="width: 100%" id="example" label="Örnek" rows="5" v-model="obj.example"
                          :rules="fieldRules"/>
            </v-col>
            <v-col cols="12">
              <input ref="FileInput" type="file" @change="onFileSelect"/>
            </v-col>
            <v-row justify="end">
              <v-col cols="4">
                <v-btn type="submit">Kaydet</v-btn>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="7" md="5">
            <v-col cols="12" lg="9">
              <VueCropper :view-mode="1" @crop="crop" :cropBoxResizable="false" :aspect-ratio="5/4"
                          :initial-aspect-ration="5/4" v-show="selectedFile" ref="cropper"
                          :src="selectedFile"></VueCropper>
            </v-col>
            <v-col cols="3">
              <div class="cropped-image">
                <img
                    v-if="cropImg"
                    :src="cropImg"
                    alt="Cropped Image"
                />
                <div v-else class="crop-placeholder"/>
              </div>
            </v-col>


          </v-col>
        </v-row>

      </v-container>
    </v-form>
    <v-snackbar color="green" v-model="savedSnackbar" timeout="2000">
      Kaydedildi
    </v-snackbar>
    <v-snackbar color="red" v-model="badImageSnackbar" timeout="2000">
      Resim en az 50 x 50 olmalı
    </v-snackbar>
    <v-snackbar color="red" v-model="wordNotFoundSnackbar" timeout="2000">
      Kelime bulunamadı
    </v-snackbar>
    <AutofillDialog v-model="autofillDialog" @selected="onWordSelect" :words="translateWords"/>
  </v-app>
</template>


<script>
import firebase from "./firebase";
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import VueCropper from 'vue-cropperjs';
import 'firebase/storage';
import 'firebase/firestore'
import AutofillDialog from "@/components/AutofillDialog";


const db = firebase.firestore();
const storage = firebase.storage();

// eslint-disable-next-line no-unused-vars
async function translate(word) {
  try {
    let res = await fetch(`https://us-central1-vocab-flashcards-faa22.cloudfunctions.net/app/word/${word}`);
    return res.json();
  } catch (e) {
    console.log(e);
  }

}

export default {
  components: {AutofillDialog, VueCropper, Loading},
  name: 'App',
  data: () => ({
    wordNotFoundSnackbar: false,
    translateWords: [],
    cropImg: '',
    autofillDialog: false,
    valid: false,
    fieldRules: [
      v => !!v || 'Gerekli',
    ],
    wordTypes: ["NOUN", "PRONOUN", "VERB", "ADJECTIVE", "ADVERB", "PREPOSITION", "CONJUNCTION", "INTERJECTION"],
    isLoading: false,
    savedSnackbar: false,
    badImageSnackbar: false,
    fullPage: true,
    selectedFile: '',
    obj: {
      word: "",
      meaning: "",
      example: "",
      picUrl: "",
      description: "",
      wordType: ""
    }
  }),
  methods: {
    onWordSelect(val) {
      this.obj.description = val.definition;
      this.obj.example = val.example;
      this.obj.wordType = val.partOfSpeech.toUpperCase();
    },
    crop() {
      let croppedCanvas = this.$refs.cropper.getCroppedCanvas({width: 400, height: 320, full: true});
      this.cropImg = croppedCanvas.toDataURL();
    },
    validate() {
      this.$refs.form.validate();
      let imgHeight = this.$refs.cropper.getImageData().naturalHeight;
      let imgWidth = this.$refs.cropper.getImageData().naturalWidth;
      let validImg = imgHeight >= 50 && imgWidth >= 50;
      if (!validImg) {
        this.badImageSnackbar = true;
      }
      return this.valid && validImg && this.selectedFile.length > 0;
    },
    async autoFill() {
      this.isLoading = true;
      let words = [];
      if (this.obj.word !== "") {
        let res = await translate(this.obj.word);
        if (res == null) {
          this.isLoading = false;
          this.wordNotFoundSnackbar = true;
          return;
        }
        if (res["senses"]) {
          res["senses"].forEach(w => {
            let obj = {};

            if (res["wordType"]) {
              obj.partOfSpeech = res["wordType"];
            }
            if (w["examples"]) {
              obj.example = w["examples"][0].text;
            }
            if (w["definitions"]) {
              obj.definition = w["definitions"][0];
            }

            words.push(obj);

          })
        }
      }

      this.translateWords = words;
      this.isLoading = false;
      this.autofillDialog = true;
    },
    save() {
      if (!this.validate()) {
        return;
      }
      this.isLoading = true;
      let croppedCanvas = this.$refs.cropper.getCroppedCanvas({width: 400, height: 320, full: true});
      // window.open(croppedCanvas.toDataURL(), '_blank')
      croppedCanvas.toBlob(blob => {
        storage.ref(Date.now().toString()).put(blob).then(snapshot => {
          snapshot.ref.getDownloadURL().then(url => {
            this.obj.picUrl = url;
            db.collection("words").add(this.obj);
            this.isLoading = false;
            this.selectedFile = "";
            this.savedSnackbar = true;
            this.$refs.FileInput.value = null;
            this.$refs.form.reset();
            this.cropImg = "";
          });
        });
      }, 'image/jpeg', 0.9);
    },
    onFileSelect(e) {
      const file = e.target.files[0]
      if (typeof FileReader === 'function') {
        const reader = new FileReader()
        reader.onload = (event) => {
          this.selectedFile = event.target.result;
          this.$refs.cropper.replace(this.selectedFile);
          console.log(this.$refs.cropper.getImageData());
        }
        reader.readAsDataURL(file)
      } else {
        alert('Sorry, FileReader API not supported')
      }
    }
  }
}
</script>
