<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Giriş Yap</v-toolbar-title>
                <v-spacer/>
              </v-toolbar>
              <v-card-text>
                <v-form v-on:submit.prevent="submit">
                  <v-text-field
                      label="Email"
                      type="text"
                      v-model="email"
                  />
                  <v-text-field
                      label="Şifre"
                      type="password"
                      v-model="password"
                  />
                  <v-row justify="space-between">
                    <v-btn type="submit" color="primary">
                      Giriş Yap
                    </v-btn>
                  </v-row>

                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-snackbar v-model="showSnackbar">
      {{ this.error }}
    </v-snackbar>
  </v-app>


</template>

<script>
import firebase from "./firebase";
import "firebase/auth";

export default {
  data() {
    return {
      email: "",
      password: "",
      showSnackbar: false,
      error: null
    };
  },
  methods: {
    submit() {
      firebase.auth()
          .signInWithEmailAndPassword(this.email, this.password)
          // eslint-disable-next-line no-unused-vars
          .then(data => {
            console.log(data);
            this.$router.replace({name: "Dashboard"});
          })
          .catch(err => {
            this.error = err.message;
            this.showSnackbar = true;
          });
    }
  }
};
</script>